POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"


# github auth
# https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=
# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=